<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../estilos/styles.css">
    <link rel="stylesheet" href="../estilos/registro.css">

    <title>Registrar un club</title>
</head>
<body>
    <header>
        <div>
            <img src="../imagenes/marijuana (1).png" alt="Logo Admin">
        </div>
        <nav>
            <a href="../templates/index.html">Inicio</a>
                <a href="../templates/clubes.html">Clubes</a>
        </nav>
    </header>

    <main>
        <form action="/add_club" method="POST">
            <fieldset>
                <legend><b>Registrar Club</b></legend>
                
                <div>
                    <label for="txtName">Nombre</label>
                    <input type="text" id="txtName" placeholder="Ingrese el nombre del Club" name="fullname"> <br>
                </div>

                <div>
                    <label for="txtEmail">Email</label>
                    <input type="text" id="txtEmail" placeholder="Ingrese el email del Club" name="email"><br>
                </div>

                <div>
                    <label for="txtTel">Teléfono</label>
                    <input type="text" id="txtTel" placeholder="Ingrese el Teléfono del Club" name="phone"><br>
                </div>

                <div>
                    <label for="txtDir">Dirección</label>
                    <input type="text" id="txtDir" placeholder="Ingrese la dirección del Club" name="direccion"><br>
                </div>
    
                <button type="submit">Registrar</button>
            </fieldset>

        </form>
    </main>

    <footer>

    </footer>
</body>
</html>